table.table.table-striped.table-hover.top-space
  tr
    th= t('Group')
    th.hidden-xs= t('Roles')
    th
  each group in groups
    tr(data-group=group.get('id'))
      td= group.get('name')
      td.hidden-xs= group.get('roles').join(", ")
      td
        .btn-group
          button.btn.btn-default.btn-xs.dropdown-toggle(data-toggle="dropdown")
            span.glyphicon.glyphicon-cog
            |&nbsp
            span.caret
          ul.dropdown-menu.dropdown-menu-right
            li
              a.edit(data-id=group.get('id'))
                = t('Edit')
            li
              a.delete(data-id=group.get('id'))
                = t('Delete')
