.block.top-space
  .title.row
    .col-md-6.col-sm-6.col-xs-6= t('User') + " #" + user.get('id')
    .col-md-6.col-sm-6.col-xs-6.text-right
      if user.hasPermission('edit')
        .visible-xs
          .btn-group
            button.btn.btn-default.btn-xs.dropdown-toggle(data-toggle="dropdown")
              span.glyphicon.glyphicon-cog
              |&nbsp
              span.caret
            ul.dropdown-menu.dropdown-menu-right
              li
                a(href="/#users/" + user.get('id') + '/edit')= t('Edit')
              li
                a.delete= t('Delete')
        .hidden-xs
          a.btn.btn-success.btn-xs(href="/#users/" + user.get('id') + "/edit") #{t('Edit')}
          |&nbsp;
          a.btn.btn-danger.btn-xs.delete #{t('Delete')}
  .content
    .row
      .col-md-3
        img.img-circle(src=user.getGravatarUrl(200))
      .col-md-9
        h1= user.get('name')
        dl.dl-horizontal
          dt= t('E-mail')
          dd
            a(href=user.get('email'))= user.get('email')
          if user.has('attributes')
            each attribute, attributeId in user.get('attributes')
              if attribute['value']['view']
                dt= attribute['label']
                if attribute['type'] === 'string'
                  dd!= attribute['value']['view']
                else if attribute['type'] === 'entity'
                  dd!= attribute['value']['view']